@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;

}
/* Header start */
header{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px rgb(200,200,200);

}
.logo {
    color: #16507b;

}
.logo h2{
    font-weight: bold;
    font-size: 18px;
}
.menu {
    width: 80%;
    text-align: right;
}

.menu a{
    color: #16507b;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.5s;
    
}
.menu a:hover{
    color: #007bff;

}
.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;

}
.menu .btn-menu:hover{
    background-color: #124265;
    color: white;


}
/* Header finish*/

/*section start*/
section.main{
    background-image: url('../imagens/vector-JUL-2021-61.jpg');
    padding: 70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.main-cta{
    width: 100%;
    text-align: center;
    margin: 60px 0;
}
.main-cta h2{
    
    color: #16507b;
    font-size: 60px;
    font-weight: bold;
    
}
.main-cta p{
    color: gray;
    font-size: 22px;
    margin: 10px 0;
    
    
}
.main-cta button{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 30px;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    
}
.main-cta button:hover{
    background-color: #124265;
    color: white;
    transition: 0.5s;
}

.diferenciais{
    display: flex;
    
}
.diferencial-single{
    border-radius: 10px;
    background-color: white;
    width:24%;
    margin-right: 2%;
    padding: 40px 20px;
    

}
.diferencial-single i{
    color: #124265;
    font-size: 23px;
}
.diferencial-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}
.diferencial-single p{
    color: grey;
    font-size: 14px;
    line-height: 20px;
    
}
section.sobre{
    padding: 80px 0;
}
.chamada-sobre{
    width: 100%;
    text-align: center;

}
.chamada-sobre h2{
    
    color:#124265;
    font-size: 34px;
    font-weight: bold;
}
.chamada-sobre p{
    color: grey;
    font-size: 14px;
    margin: 10px 0;
}
.conteudo-sobre{
    display: flex;
}
.conteudo-sobre p{
    margin: 10px 20px;
    color: grey;
}

@media screen and (max-width: 768px) {
    .diferencial-single{
        width: 100%;
        margin-bottom: 20px;
    }

}